<html>
    <head>
        <title>First Flask APP</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
    </head>
    <body>
        <header>
            <h1>First Flask Project</h1>
            <h2>Hello World!</h2>
        </header>
        <div>
<!--            <p>-->
<!--            Suspendisse consequat scelerisque urna. Vestibulum rhoncus commodo nulla et eleifend. Maecenas pretium orci id sem commodo, a finibus enim finibus. Nulla posuere sit amet felis non faucibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus efficitur dolor mauris, ut sagittis magna sagittis eget. Vestibulum in convallis velit. Praesent sodales molestie nunc sed rhoncus. Vestibulum porttitor posuere mi sed sodales. Vestibulum a libero nibh.-->
<!--            </p>-->
        </div>
    </body>
</html>